[Desktop Entry]
Name=imwheel
Exec=/bin/imwheel -k -b "4 5"
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Comment=
X-GNOME-Autostart-Delay=15
Type=Application
